// Colors

$primary-color-dark:   #000000;
$primary-color:        #000000;
$primary-color-light:  #000000;
$primary-color-text:   #FBE9E7;
$accent-color:         #448AFF;
$primary-text-color:   #FFFFFF;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
// Navigation Colors
$nav-background: $primary-color-dark;
$nav-text-color: $primary-color-text;

// Clock vars
$clock-text-color: cyan;
$clock-bg-color: $primary-color;
$clock-border-color: cyan;
